.product-grid-container {
    max-height: 80vh;
    /* Set max height for the grid container */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* Ensure image covers the entire width and height */
}

.product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Inter", sans-serif;
    /* Align title to the start */
}

.price-heart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-info {
    margin: 0;
    text-align: left;
    font-family: "Inter", sans-serif;
    color: #888792;
    font-size: 12px;
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.heart-button:focus {
    outline: none;
}